*{
    box-sizing: border-box;
}



header .header-image1 {
margin-top: 0px;
width: 500px;
height: 300px;
/* border-radius: 100%; */
border: 2px solid black;
/* margin-left: 1em;
margin-right: 1em;
margin-bottom: 1em; */
position: relative;
top: -5px; 
left: 5px;
}

header .header-image2 {
    margin-top: 0px;
    width: 500px;
    height: 300px;
    /* border-radius: 100%; */
    border: 2px solid black;
    /* margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em; */
    position: relative;
    top: -5px; 
    right: 3px;

    }