/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: red;
	margin-left: 10px;
}

p {
	font-size: .95em;
}

h2,
h3,
a {
	color: #093a58;
}

a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #5e5e5e;
	margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 5%; 
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 2px;
	padding-right: 3px;
}

.main-nav a {
	font-size: 1.1em;
    color: red;
    text-transform: uppercase;
    
    
}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
    padding: 5px 5px;
    display: block;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #000000;
    

}

.main-footer {
	text-align: center;
	padding: 2em 0;
    background: #000000;
    color: red;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 720px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

    .main-nav {
        float: right;
    }

    .main-nav li {
        float: left;
        margin-left: 12px;
    }
	.name {
        float: left;
	}
	
	.header-image {
		width: 35%;
	}

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
}
